@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    transition: all 0.4s ease-in-out;
}

body {
    background-color: rgba(220, 252, 231, 1);
}